.mapDiv {
    height: 93vh;
    width: 100%;
}

.div-filter-map {
    position: absolute;
    z-index: 1000;
}

.filter-map {
    background-color: white;
}

.filter-map:hover {
    background-color: rgb(197, 197, 197);
}