.search {

    top: 6px;
    left: 90%;
}

.form-control {

    border: none;
    padding-left: 32px;
}

.form-control:focus {

    border: none;
    box-shadow: none;
}

.carousel-indicators {
    top: 85% !important;
  }